{% extends 'base.html' %}


{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <h2>Novo Cartão</h2>
    <div class="x_content">
    <form class="" action="" method="post">
      {% csrf_token %}

      <div class="form-group ">
        <div class="col-lg-8 col-lg-offset-1">
          <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
            Nome que está no Cartão<span>*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
             {{ form.nome }}
             <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
          </div>
        </div>
      </div>

    <div class="form-group  ">
      <div class="col-lg-8 col-lg-offset-1">
        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
          Número do Cartão<span>*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
           {{ form.num }}
           <span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
        </div>
      </div>
    </div>

    <div class="form-group  ">
      <div class="col-lg-8 col-lg-offset-1">
        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
          Código de Segurança<span>*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
           {{ form.cod_seg }}
           <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
        </div>
      </div>
    </div>

    <div class="form-group  ">
      <div class="col-lg-8 col-lg-offset-1">
        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
          Data de Validade<span>*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
           {{ form.data_vencimento }}
           <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
        </div>
      </div>
    </div>

    <div class="hide form-group  ">
      <div class="col-lg-6 col-lg-offset-2">
        <div class="col-md-3 col-sm-3 col-xs-3 form-group" >
           {{ form.cliente }}
        </div>
      </div>
    </div>



      <div class="form-group row">

          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="{% url 'index'%}" class="btn btn-primary">Cancelar</a>
            <button type="submit" class="btn btn-success">Adicionar Cartão</button>
          </div>

      </div>
    </div>
  </div>
</div>


{% endblock content %}
