{% extends 'base.html' %}


{% block content %}

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <h2>Novo Pedido</h2>
    <div class="x_content">
    <form class="" action="" method="post">
      {% csrf_token %}
      <div id="wizard" class="form_wizard wizard_horizontal">
        <ul class="wizard_steps anchor">
          <li>
            <a href="#step-1" >
              <span class="step_no">1</span>
              <span class="step_descr">
                  Selecionar Peças<br>
                  <small>Escolha os tipos de peças para lavagem</small>
              </span>

            </a>
          </li>



          <li>
            <a href="#step-2" >
              <span class="step_no">2</span>
              <span class="step_descr">
                  Finalizar Pedido<br>
                  <small>Dados para finalizar pedido</small>
              </span>
            </a>
          </li>


        </ul>
          <div class="stepContainer">
            <div id="step-1" class="content">
                 <div class="hide">
                   {{ form.usuario }}
                 </div>
                 <div class="x_panel">
                    <div class="form-group row ">
                      <div class="col-lg-8 col-lg-offset-3">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                          Camisa
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-3 form-group" >
                           {{ form.camisa }}

                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4" >
                            {{ form.quantidadeCamisa }}
                        </div>
                      </div>
                    </div>
                </div>

                <div class="x_panel">
                <div class="form-group row ">
                  <div class="col-lg-8 col-lg-offset-3">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                      Camiseta ou Blusa
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group" id="id_camisa">
                       {{ form.camiseta }}

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" >
                        {{ form.quantidadeCamiseta }}
                    </div>
                  </div>
                </div>
                </div>

                <div class="x_panel">
                <div class="form-group row ">
                  <div class="col-lg-8 col-lg-offset-3">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                      Edredom
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group" >
                         {{ form.edredom }}

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" >
                         {{ form.quantidadeEdredom }}
                    </div>
                  </div>
                </div>
                </div>

                <div class="x_panel">
                <div class="form-group row ">
                  <div class="col-lg-8 col-lg-offset-3">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                      Lençol
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group" >
                       {{ form.lencol }}

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" >
                        {{ form.quantidadeLencol }}
                    </div>
                  </div>
                </div>
                </div>

                <div class="x_panel">
                <div class="form-group row ">
                  <div class="col-lg-8 col-lg-offset-3">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                      Roupa de Luxo
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group" >
                       {{ form.rLuxo }}

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" >
                        {{ form.quantidadeRLuxo }}
                    </div>
                  </div>
                </div>
                </div>

                <div class="x_panel">
                <div class="form-group row ">
                  <div class="col-lg-8 col-lg-offset-3">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                      Roupas Intimas
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group" >
                       {{ form.rIntima }}

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" >
                        {{ form.quantidadeRIntima }}
                    </div>
                  </div>
                </div>
                </div>

                <div class="x_panel">
                <div class="form-group row ">
                  <div class="col-lg-8 col-lg-offset-3">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                      Roupas Jeans
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group" >
                       {{ form.rJeans }}

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" >
                        {{ form.quantidadeRJeans }}
                    </div>
                  </div>
                </div>
                </div>

                <div class="x_panel">
                <div class="form-group row ">
                  <div class="col-lg-8 col-lg-offset-3">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                      Toalhas de Banho
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group" >
                       {{ form.tBanho }}

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" >
                        {{ form.quantidadeTBanho }}
                    </div>
                  </div>
                </div>
                </div>

                <div class="x_panel">
                <div class="form-group row ">
                  <div class="col-lg-8 col-lg-offset-3">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                      Toalha de Mesa
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group" >
                       {{ form.tMesa }}

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" >
                        {{ form.quantidadeTMesa }}
                    </div>
                  </div>
                </div>
                </div>


                <div class="x_panel">
                <div class="form-group row ">
                  <div class="col-lg-8 col-lg-offset-3">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                      Toalha de Rosto
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group" >
                       {{ form.tRosto }}

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" >
                        {{ form.quantidadeTRosto }}
                    </div>
                  </div>
                </div>
              </div>

                <div class="x_panel">
                <div class="form-group row ">
                  <div class="col-lg-8 col-lg-offset-3">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                      Contém Peças Brancas
                    </label>
                    <div class="col-md-2 col-sm-3 col-xs-3 form-group" >
                       {{ form.pecas_branca }}

                    </div>
                  </div>
                </div>
                 </div>

            </div>

            <div id="step-2" class="hide content" >
              <div class="form-group row">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                  Responsavel pelo Pedido
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback" >
                  {{ form.nome_responsavel }}
                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>
              </div>

                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    Data para busca das peças
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-3 col-sm-3 col-xs-6 form-group" min= { datetime.now } >
                    {{ form.data_busca }}
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                

                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    Endereço para busca das peças
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-3 col-sm-3 col-xs-6 form-group" >
                    {{ form.endereco_busca }}
                    <span class="fa fa-location-arrow form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    Endereço para entrega das peças
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-3 col-sm-3 col-xs-6 form-group" >
                    {{ form.endereco_entrega }}
                    <span class="fa fa-location-arrow form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                 <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    Valor do Pedido
                    <span class="required">*</span>
                  </label>
                  <div class="hide col-md-3 col-sm-3 col-xs-6 form-group" >
                    {{ form.valor_pedido }}
                  </div>
                  <div  class="col-md-3 col-sm-3 col-xs-6 form-group" >
                       <input id="teste" type="text" class="form-control">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    Cartão para pagamento
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-3 col-sm-3 col-xs-6 form-group" >
                    {{ form.pagamento }}
                    <span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="form-group row">

                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <a href="{% url 'index'%}" class="btn btn-primary">Cancelar</a>
                      <button type="submit" class="btn btn-success">Enviar Pedido</button>
                    </div>

                </div>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


{% block javascript %}

<script>
 

  function TiposRoupas() {
        valor = 5 // começa com o valor do frete
          x = 0


        if($('#id_camisa').is( ':checked')){
          valor += $('#id_quantidadeCamisa').val() * 7
        }

        if($('#id_camiseta').is( ':checked')){
          valor += $('#id_quantidadeCamiseta').val() * 4
        }

        if($('#id_edredom').is( ':checked')){
          valor += $('#id_quantidadeEdredom').val() * 22
        }

        if($('#id_lencol').is( ':checked')){
          valor += $('#id_quantidadeLencol').val() * 9
        }

        if($('#id_rLuxo').is( ':checked')){
          valor += $('#id_quantidadeRLuxo').val() * 25
        }

        if($('#id_rIntima').is( ':checked')){
          valor += $('#id_quantidadeRIntima').val() * 3
        }

        if($('#id_rJeans').is( ':checked')){
          valor += $('#id_quantidadeRJeans').val() * 9
        }

        if($('#id_tBanho').is( ':checked')){
          valor += $('#id_quantidadeTBanho').val() * 4
        }

        if($('#id_tMesa').is( ':checked')){
          valor += $('#id_quantidadeTMesa').val() * 10
        }

        if($('#id_tRosto').is( ':checked')){
          valor += $('#id_quantidadeTRosto').val() * 2
        }

        if($('#id_pecas_branca').is( ':checked')){
          valor += 7
        }


        $('#id_valor_pedido').val(valor.toFixed(2));
        $('#teste').val(valor.toFixed(2));
        $('#teste').attr("disabled", "disabled");

  }

  function data(){
    alert(entrou)
    var w = console.log($('#dataCampo').val());
    w.split("-");
    $('#id_data_busca').val(w[2]+"/"+w[1]+"/"+w[0]);
  }

  $( "#form-pedido" ).submit(function( event ) {
    alert( "Handler for .submit() called." );
    event.preventDefault();
  });



  $(document).ready(function() {
    var valor = 0;
    $('#wizard').smartWizard();
    $('#wizard_verticle').smartWizard({
      transitionEffect: 'slide'
    });
    $('#step-2').removeClass('hide');
    $('.buttonPrevious').addClass('btn btn-primary');
    $('.buttonNext').addClass('btn btn-success').attr("onClick", "TiposRoupas()");
    // $('#id_data_busca').attr("type", "date");
    $('.buttonFinish').addClass('hide');
  });



</script>




{% endblock %}
