{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-md-12 col-sm-12 col-xs-12">
  	<div class="x_panel">
	    <h1>Está com Dificuldade ? </h1>
	    <h1>Nós te Ajudamos !!</h1>
	    <div class="col-lg-10 col-lg-offset-2">
		    <div class="col-md-8 col-sm-12 col-xs-12">
			    <div class="x_content">
			    	<h2>A Iceberg Washer é uma rede de lavanderias com um
					conceito inovador no mercado, pensado no melhor para atender o novo
					comportamento do consumidor. Com um baixo custo, a rede atende a demanda
					completa de uma lavanderia, incluindo roupas do dia a dia.
					Oferecemos praticidade para o Cliente, buscando e levando as roupas
					onde bem desejar.</h2>

					<h2> A Iceberg Washer oferece aos seus clientes o serviço voltado para peças do dia a dia com rapidez e economia, e também conta com uma gama completa de serviços como limpeza de ternos, roupas de luxo em geral e tratamentos especiais.

					Equipamentos modernos, baixo custo operacional, economia de energia e água, simplicidade na operação e poucos funcionários são alguns dos diferenciais da marca, tornando-se uma nova oportunidade no mercado de lavanderias</h2>
			    </div>
	        <h1> <img src="{% static "img/ICEB.jpg" %}" height="100" width="86"> Iceberg Washer </h1>
		    </div>
		    
	    </div>
	</div>
</div>

{% endblock content %}
